on:
  push:
    tags:
      - 'v*' # Push events to a tag matching v*, i.e. v1.0, v20.15.10

name: Release

jobs:
  publish-to-npm:
    name: Publish to npm
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          registry-url: 'https://registry.npmjs.org/'
          scope: 'expo'
          node-version: 20
      - name: Setup ncc
        run: npm install -g @vercel/ncc
      - name: Install dependencies
        run: yarn install --frozen-lockfile --check-files
      - name: Build
        run: yarn build
      - name: Publish packages to npm
        run: yarn lerna publish from-package --yes --no-verify-access
