name: Run tests
on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize]

jobs:
  test:
    runs-on: macos-latest
    name: Test with Node 20 on macOS
    steps:
      - uses: actions/checkout@v6
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Setup ncc
        run: npm install -g @vercel/ncc
      - run: yarn install --frozen-lockfile --check-files
      - run: yarn build
      - run: yarn test
